@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&family=Paytone+One&display=swap');

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Paytone One', sans-serif;;
  color: black;
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: #F9E9EC;
}
header {
  padding: 1em;
  text-align: center;
  color: black;
  background-color: #6C91BF;
}
header > h1, header > h2 {
  color: #242323;
}
p {
  font-family: 'Nanum Myeongjo', serif;;
  color: black;
  padding: 1em;
}
.colours {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colours th {
  background-color: #999;
}
.colours td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: #6C91BF;
}
.secondary {
  background-color: #643A71;
}
.accent1 {
  background-color: #F9E9EC;
}
.accent2{
  background-color: white;
}
p.coloured {
  background-color: #6C91BF;
  color: black;
}
